@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  list-style: none;
}

@media (max-width: 400px) {
  body {
    position: absolute;
  }
}
.hero {
  background-image: url("/hero.jpg");
}

.img1 {
  background-image: url("/beach.jpg");
}
